main {
    margin-left: 26%;
    width: 74%;
    padding: 2rem;
    overflow-y: hidden;
}

@media (max-width: 1024px) {

    main {
        margin-left: 25%;
        width: 75%;
    }
}

@media (max-width: 768px) {

    main {
        margin-left: 15%;
        width: 85%;
    }
}

@media (max-width: 640px) {

    main {
        margin-left: 0;
        width: 100%;
    }
}