
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    display: none;
}

@media (max-width: 640px) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.5em;
        border-bottom: 1.5px solid #4e4e4e;
    }

    .profileLink {
        font-size: x-large;
        position: absolute;
        left: 1em;
    }

    img {
        width: 100%;
        max-width: 50px;
        height: auto;
    }
}
